# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment folders
venv/
env/
.venv/
.ipynb_checkpoints/
*.egg-info/
*.log

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Streamlit
.streamlit/
